
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head">

</head>
<body>



<header th:replace="fragments/header.html :: header">

</header>

<article>
    <div class="container text-center mt-3">

        <div class="row">
            <div class="col-md-6">
                <h1>Contact Us.</h1>

                <form action="">

                    <label for="fname">First Name</label>
                    <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
                    <br/>

                    <label for="lname">Last Name</label>
                    <input class="form-control" type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <br/>

                    <label for="country">Region</label>
                    <select class="form-control" id="country" name="country">
                        <option value="default">Select Region</option>
                        <option value="aru">Arusha</option>
                        <option value="dsm">Dsm</option>
                        <option value="mby">Mbeya</option>
                    </select>
                    <br/>

                    <label for="subject">Subject</label>
                    <textarea class="form-control" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    <br/>

                    <input class="mt-2 mb-2 btn btn-custom" type="submit" value="Submit">

                </form>
            </div>

        </div>
    </div>
</article>


<script type="javascript" th:href="@{/js/jquery-2.2.4.min.js}"></script>
<script type="javascript" th:href="@{/js/bootstrap.min.js}"></script>
<script type="javascript" th:href="@{/js/app.js}"></script>
</body>
</html>